.header1 {
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: white;
}

.header2 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #32A852;
}

.headerbox {
    overflow: hidden;
    width: 97.5%; /*Could be changed to 100%*/
    height: fit-content;
    margin: 0px;
    padding: 10px 20px;
    background-color: #63AEff;
}

.menubox {
    width: 1340px;
    height: fit-content;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 45px;
    margin-bottom: 80px;
    background-color: #63AEff;
    padding: 40px;
    border-radius: 10px;
}

.menuboxheader {
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: white;
}

.row {
    display: flex;
}
  
.column {
    float: left;
}

.left {
    width: 75%;
    padding-right: 15px;
}
  
.right {
    width: -25%;
}

.aboutme {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
